[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyyaml = "*"

[dev-packages]
pre-commit = "*"
pep8-naming = "*"
flake8 = "*"
black = "*"
pytest = "*"
pytest-subtests = "*"

[requires]
python_version = "3.10"
